/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/CONTRIBUTING.md  export-ignore
/.github/         export-ignore
/fixtures/        export-ignore
/phpunit.xml.dist export-ignore
/phpstan*.neon    export-ignore
/spec/            export-ignore
/tests/           export-ignore
