includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	level: 3
	fileExtensions:
		- php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:

		# By design
		-
			message: '#Method Prophecy\\Doubler\\Doubler::double\(\) should return Prophecy\\Doubler\\DoubleInterface but returns object#'
			path: src/Prophecy/Doubler/Doubler.php

		# This issue should be fixed in the implementation
		-
			message: '#PHPDoc tag @throws with type object is not subtype of Throwable#'
			path: src/Prophecy/Promise/ThrowPromise.php

		# For legacy compat
		-
			message: '#Return typehint of method Prophecy\\PhpDocumentor\\ClassAndInterfaceTagRetriever::getTagList\(\) has invalid type phpDocumentor\\Reflection\\DocBlock\\Tag\\MethodTag.#'
			path: src/Prophecy/PhpDocumentor/ClassAndInterfaceTagRetriever.php
		-
			message: '#Return typehint of method Prophecy\\PhpDocumentor\\LegacyClassTagRetriever::getTagList\(\) has invalid type phpDocumentor\\Reflection\\DocBlock\\Tag\\MethodTag.#'
			path: src/Prophecy/PhpDocumentor/LegacyClassTagRetriever.php
		-
			message: '#Return typehint of method Prophecy\\PhpDocumentor\\MethodTagRetrieverInterface::getTagList\(\) has invalid type phpDocumentor\\Reflection\\DocBlock\\Tag\\MethodTag.#'
			path: src/Prophecy/PhpDocumentor/MethodTagRetrieverInterface.php
		-
			message: '#Return typehint of method Prophecy\\PhpDocumentor\\ClassAndInterfaceTagRetriever::getInterfacesTagList\(\) has invalid type phpDocumentor\\Reflection\\DocBlock\\Tag\\MethodTag.#'
			path: src/Prophecy/PhpDocumentor/ClassAndInterfaceTagRetriever.php

		# Exclude test issues
		-
			message: '#Call to an undefined method#'
			path: tests/Doubler/Generator/ClassMirrorTest.php
