parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src/
    excludePaths:
        - src/Prophecy/Comparator/Factory.php
includes:
    - phpstan-baseline.neon
